.widget-contents{
display: flex;
cursor: pointer;
}

.widget-content{
    margin: 5px;
    /* display: flex; */
    padding: 5px;
    border-bottom: 1px solid lightgray;
}

.widget-content > img{
    display: flex;
    /* justify-content: center; */
    height: 120px; 
    border-radius: 5px;

}

.widget-content-title{
    margin-left: 10px;
}

.widget-content-title > h5 {
    color: rgb(70, 68, 68);
}

.widget-content-title > p {
    color: gray;
    font-size: small;

}